<% content_for :head do %>
  <%= stylesheet_link_tag('flip_forms') %>
  <%= javascript_include_tag 'review' %>
<% end %>

<h1>Please review your map data:</h1>
<p>Verify that the data below is correct.  We're showing a <strong>small subset of the data</strong> that you submitted.</p>

<% form_for :map, :url => map_path(@map), :html => { :method => "PUT" } do |f| -%>
  <%= render :partial => 'review_form', :locals => {:f => f} %>
  <ul class="buttons clearfix">
    <li class="left_col"><%= link_to "&laquo; Start over", "/maps/new" %></li>
    <li class="right_col">
      <% f.fields_for :dataset do |dataset_fields| %>
      <%= dataset_fields.hidden_field :data, :value => @map.dataset.data %>
      <% end %>
      <%= f.submit 'Revise Map', :class => "button_pink" %>
    </li>
  </ul> <!-- end: .buttons -->
<% end %>
