- content_for :javascripts do
  = javascript_include_tag "jquery.form.js"

.heading
  %h2 Create a Map
  %p.description Get Started by uploading or pasting your data, selecting the entries you want to map, providing a title, and shazam you have an instant map.

%fieldset.import
  .upload
    - form_tag preprocess_new_map_path, :class => "preprocess-form" do
      = label_tag "preprocess-upload", "&nbsp;"
      - link_to "#", :class => "file" do
        Upload File
        = file_field_tag :data, :id => "preprocess-upload"
    .hint Excel Spreadsheet or CSV
  .paste
    - form_tag preprocess_new_map_path, :class => "preprocess-form" do
      = label_tag "preprocess-paste", "Copy &amp; Paste Data"
      = text_area_tag :data, "", :id => "preprocess-paste"
    .hint Columns names must be in the first row.
  .or OR

- form_for @map do |f|
  = f.hidden_field :original_csv_data
  %section.post-process{ :style => "display: none;" }
    %fieldset.location
      = f.label :location_column_name, "Select Location"
      .detail Please select the column that you want to use for mapping location.
      .input
        Show
        = f.select :location_column_name, options_for_select([]), {}, :class => "column-names"
        as
        = f.select :location_column_type, location_type_options

    %fieldset.data
      = f.label :data_column_name, "Select Data"
      .detail Please select the numeric data field that you want to display.
      .input
        Show
        = f.select :data_column_name, options_for_select([]), {}, :class => "column-names"
        as
        = f.select :data_column_type, data_type_options

    %fieldset.title
      = f.label :title, "Map Title"
      = f.text_field :title, :class => (@map.new_record? ? "suggested" : nil)

  .actions
    = f.submit "Create Map", :disabled => "disabled"

