- content_for :javascripts do
  = javascript_include_tag "jquery.form.js"

.heading
  %h2 Create a Map
  %p.description Get Started by uploading or pasting your data, selecting the entries you want to map, providing a title, and shazam you have an instant map.

%fieldset.import
  .upload
    - form_tag preprocess_new_map_path, :class => "preprocess-form" do
      = label_tag "preprocess-upload", "&nbsp;"
      - link_to "#", :class => "file" do
        Upload File
        = file_field_tag :upload, :id => "preprocess-upload"
    .hint Excel Spreadsheet or CSV
  .paste
    - form_tag preprocess_new_map_path, :class => "preprocess-form" do
      = label_tag "preprocess-paste", "Copy &amp; Paste Data"
      = text_area_tag :paste, "", :id => "preprocess-paste"
    .hint Columns names must be in the first row.
  .or OR

- form_for @map do |f|
  %section.post-process{ :style => "display: none;" }
    - f.fields_for(:dataset) do |df|
      %fieldset.location
        = df.label :data_location_name, "Select Location"
        .detail Please select the column that you want to use for mapping location.
        .input
          Show
          %select
          as
          -# = df.select :location_column_type, options_for_select(Dataset::GRAPH_DATA_TYPES), :include_blank => "Please select a location type..."
          = select_tag "map[dataset_attributes][location_column_type]", options_for_select([["Please select a location type...", nil]] + Dataset::LOCATION_DATA_TYPES)

      %fieldset.data
        = df.label :data_column_name, "Select Data"
        .detail Please select the numeric data field that you want to display.
        .input
          Show
          %select
          as
          -# = df.select :data_column_type, options_for_select(Dataset::GRAPH_DATA_TYPES), :include_blank => "Please select a data type..."
          = select_tag "map[dataset_attributes][data_column_type]", options_for_select([["Please select a data type...", nil]] + Dataset::GRAPH_DATA_TYPES)

    %fieldset.title
      = f.label :title, "Map Title"
      = f.text_field :title

  .actions
    = f.submit "Create Map", :disabled => "disabled"


%hr
%h3 Old (working, but unstyled) form
= render :partial => "form"