- title    @map.title
- og_url   map_url(@map.token)
- og_image map_url(@map.token, :format => "png")

- div_for @map do
  .header
    .aux
      = render :partial => "add_this"
      .created
        Created:
        = @map.created_at.strftime("%b %d, %Y")
    %h2= link_to @map.title, map_url(@map)
  .map-wrapper
    .controls
    = compact_embed_code(@map, :style_class => "loading", :loading_message => "Loading...")

  %textarea#embed-code.copyable{ :rel => "#embed-code-copy" }
    = compact_embed_code(@map)

  %button#embed-code-copy{ :style => "display:none;" } Copy to clipboard
  or
  = link_to "Permalink", map_path(@map)
  or
  = link_to "Image", map_path(@map.token, :format => "png")
  or
  = link_to "CSV", map_path(@map.token, :format => "csv")
  or
  = link_to "KML", map_path(@map.token, :format => "kml")
