- title    @map.title
- og_url   map_url(@map.token)
- og_image map_url(@map.token, :format => "png")

- embed_code = compact_embed_code(@map)
- div_for @map do
  .header
    .aux
      = render :partial => "add_this"
      .created
        Created:
        = @map.created_at.strftime("%b %d, %Y")
    %h2= link_to @map.title, map_url(@map)
  .map-wrapper
    = compact_embed_code(@map, :style_class => "loading", :loading_message => "Loading...")
    .controls
      #export-control.control
        %ul
          %li= link_to "Image", map_path(@map.token, :format => "png")
          %li= link_to "CSV", map_path(@map.token, :format => "csv")
          %li= link_to "KML", map_path(@map.token, :format => "kml")
      #embed-control.control
        - embed_code = compact_embed_code(@map)
        %textarea.copyable{ :spellcheck => "false" }= embed_code
        = clippy(embed_code, "#DDFDDC")
      .buttons
        .button-wrapper
          %button{ :rel => "#embed-control" } Embed
        .button-wrapper
          %button{ :rel => "#export-control" } Export





