- title    @map.title
- og_url   map_url(@map.token)
- og_image map_cache_url(@map.token, :format => "png")

= div_for @map do
  .header
    .aux
      = render :partial => "add_this"
      .created
        Created:
        = @map.created_at.strftime("%b %d, %Y")
    %h2= link_to @map.title, map_url(@map)
  .map-wrapper
    = compact_embed_code(@map, :style_class => "loading", :loading_message => "Loading...").html_safe
    .controls
      #embed-control.control
        %button Embed
        .dialog
          - embed_code = compact_embed_code(@map)
          %textarea.copyable{ :spellcheck => "false" }= embed_code.html_safe
          = clippy(embed_code, "#DDFDDC")
      #export-control.control
        %button Export
        .dialog
          %ul
            %li.first= link_to "Image", map_path(@map.token, :format => "png"), :class => "png-export"
            %li= link_to "CSV", map_path(@map.token, :format => "csv"), :class => "csv-export"
            %li= link_to "KML", map_path(@map.token, :format => "kml"), :class => "kml-export"
      -# #style-control.control
      -#   %button Map Style
      -#   .dialog= render :partial => "color_palettes"

= javascript_tag do
  = "var MAP = #{@map.dom_token};"