%ul.spreadsheet-templates
  %li= link_to "Countries", "/templates/countries.csv"
  %li= link_to "USA States", "/templates/usa_states.csv"
  %li= link_to "USA Counties", "/templates/usa_counties.csv"
  %li= link_to "FCC Major Trading Areas", "/templates/fcc_major_trading_areas.csv"
  %li= link_to "FCC Basic Trading Areas", "/templates/fcc_basic_trading_areas.csv"
