- content_for :javascripts do
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"
  = javascript_include_tag "jquery.jcoverflip.js"

- title "Home"
.description
  = render :partial => "steps"

  .intro
    %h2 Got Data?<br />Let us map it for you.

    %p IssueMap makes it easy to turn your data into a map that you can customize &amp; share online.

    = render :partial => "shared/new_map_call_to_action"

%ul#gallery
  - @maps.each do |map|
    %li
      = link_to map_path(map) do
        = image_tag map_path(map, :format => "png", :size => "m"), :width => 400, :alt => map.title
