<p class="left_col">
    <!-- <%= image_tag 'footer_fortius_one.png' %> -->
    Built by <%= link_to "FCC", "http://fcc.gov" %> and <%= link_to "FortiusOne", "http://fortiusone.com" %>
</p>

<p class="right_col">
    Copyright &copy; 2010 | 
    <!-- Public 1.6.0 |  -->
    <!-- <%= link_to 'FortiusOne Inc.', 'http://fortiusone.com/' %> |  -->
    <%= link_to "Privacy",          page_path("privacy") %> |
    <%= link_to "Terms of Service", page_path("tos") %>
</p>
