<!DOCTYPE html>
<html>
<head>
  <title>IssueMap<%= @map.nil? || @map.title.blank? ? '' : " - #{@map.title}"%></title>
  <!-- Welcome to IssueMap - where you can map the issues. IssueMap is provided as a free service and is built 
        by the FCC utilizing the FortiusOne GeoIQ platform. 

        also checkout GeoCommons.com - a community site for sharing data and maps.
      -->

  <%= stylesheet_link_tag 'reset','uniform','master', '/javascripts/asmselect/jquery.asmselect.css' %>
  <!--[if lte IE 7]><link rel="stylesheet" href="/stylesheets/ie7.css" type="text/css" /><![endif]-->
  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/ie6.css" type="text/css" /><![endif]-->

  <!-- JS for the "Uniform" form styling plugin, to handle file input styling -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.uniform.min.js" type="text/javascript"></script>  
  <script type="text/javascript" charset="utf-8">
  $(function(){
    $("input:file").uniform();
  });	
  </script>  

  <%= javascript_include_tag 'application', 'maps', 'asmselect/jquery.asmselect.js' %>
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
    <div id='header'>            
      <div id="beta_ribbon"><%= image_tag "beta_ribbon.gif" %></div>
      <h1><%= link_to "IssueMap", root_path %></h1>

      <ol id="progress" class="clearfix" style="<%= "display:none" if !@show_progress %>">
        <li id="pr_one" class="<% if current_page?(:controller => 'maps', :action => 'new') %>active<% end %>">Upload</li>
        <li id="pr_two" class="<% if current_page?(:controller => 'maps', :action => 'review') %>active<% end %>">Review</li>
        <li id="pr_three" class="<% if current_page?(:controller => 'maps', :action => 'edit') %>active<% end %>">Publish</li>
      </ol> <!-- end: #progress -->
    </div> <!-- end: #header -->

    <div id='container'>
      <% if flash[:notice] %>
      <div id='flash_notice'><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
      <div id='flash_error'><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
      <div id="footer" class="clearfix">
        <%= render :partial => '/layouts/footer' %>
      </div> <!-- end: #footer -->
    </div> <!-- end: #container -->
  </div> <!-- end: #wrapper -->
<%= render :partial => 'layouts/uservoice' %>
<%= render :partial => 'layouts/analytics' %>

</body>
</html>
